*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: url("MaterialeEsercizioLim/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
    color:white;
}

.container{
    background-color: #161515b4;
    border-radius: 10px;
    text-align: left;
    width: 70%;
    height: 77%;
    margin-top: 40px;
    margin-left: 50%;
    transform: translate(-50%);
    padding: 40px;
}

.main-logo{
    text-align: center;
    margin-top: 40px;
}
.main-title{
    color: #00dd00;
    font-size: 50px;
}

.choose > button{
    font-size: 10px;
    padding: 5px;
    margin: 10px;
}

.choose{
    text-align: center;
    background-color: #00dd00;
    margin-top: 10px;
}

.prenotation span.nome-monopattino{
    font-size: 30px;
    font-weight: bold;
}

.prenotation span.scooter-location{
    font-size: 10px;
}

input[type="checkbox"] {
    width: 10px;
    height: 10px;
    background-color: initial;
    cursor: default;
    appearance: auto;
    box-sizing: border-box;
    padding: initial;
    border: initial;
}
.caricaGino{
    background-color: rgb(223, 175, 71);
    height: 20px;
    width: 32.5%;
    border-radius: 5px;
}

.caricaMike{
    background-color: rgb(0, 255, 0);
    height: 20px;
    width: 65%;
    border-radius: 5px;
}

.caricaFede{
    background-color: rgb(255, 0, 0);
    height: 20px;
    width: 16.25%;
    border-radius: 5px;
}

.scooter{
    margin: 10px;
}

#Lim{
    width: 20%;
}